
@media (min-width: 768px) {
	.hidden-md {
		visibility: hidden;
	}

}

@media (min-width: 991px) {
	.language-bar {
	position: relative;
	left: 17%;
	}
}

@media (max-width: 576px){
	.hidden-sm {
		visibility: hidden;
		height: 0px;
	}

}

html {
    width: 100%;
    height: 100%;
}

body {
	background-color: #918782;
	padding-top: 70px;
	font-size: 16px;
}

.jumbotron {
	background-color: #dddad7;
}


.jumbotron h1, h3 {
	color: #dddad7;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
				 0px 8px 13px rgba(0,0,0,0.3),
				 0px 18px 23px rgba(0,0,0,0.3);
}

.activities {
	padding-top: 30px;
}

h1 {
	font-family: "Raleway";
	font-size: 3rem;
	color: #f4efef;
}

h3 {
	font-family: "Raleway";
	font-size: 2rem;
	color: #f4efef;
}


#slogan {
	padding: 30px;
	font-family: "Shadows Into Light Two";
	font-size: 1.7rem;
	font-weight: 700;
}

.jumbotron p, h2, h4 {
	text-align: center;
}

.icon {
	text-align: center;
}

#home-img {
	background: url("img/home2.jpg");
	background-position: center;
	background-size: cover;
	padding-bottom: 25%;
}

div[class="col-md-12"] {
	padding: 0;
}

/* pour le scroll */
body {
    width: 100%;
    height: 100%;
}

h2 {
	margin-bottom: 50px;
}

#contact {
	background-color: #dddad7;
	text-align: center;
	font-size: 1.2rem;
}

.carousel-item > img {
	max-width: 100%;
	height: 550px;
	object-fit: cover;
}

#photo-gallery > .row > .col-4 {
	padding: 1px;
}

iframe {
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	transition: all 0.7s;
}

.nav-link:hover {
	background-color: #4f4f4f;
}

#champdufeu {
	margin-top: 75px;
}

.img-display {
	padding-right: 0px;
}

.card-title {
	text-align: center;
	font-size: 2.0rem;
}

a[href="./les-chambres"] > button {
	margin: auto;
	display: block;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

a[href="./les-chambres"] > button:hover {
	background: rgba(255,255,255,0.5);
}

.transparent {
	max-width: 75%;
	margin: 10% auto;
	padding: 3%;
	background-color: rgba(200,200,200,0.4);
	text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
				 0px 8px 13px rgba(0,0,0,0.3),
				 0px 18px 23px rgba(0,0,0,0.3);
}

.chambres {
	border: 2px solid gray;
	margin-bottom: 1.5em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.room-desc p, .room-desc h6 {
	text-align: center;
}

.icon-room > .fa {
	padding-right: 1.5rem;
}

.icon > img {
	height: 15%;
	width: 15%;
}

.link-modif {
	color: #343a40;
	text-decoration: underline;
}

.link-modif:hover {
	color: lightcoral;
}

.language-bar > .languages {
	display: inline-block;
}